*, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

body {
    font-size: .875rem;
    line-height: 1.25rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: #008ba9;
    text-decoration: none;
}

.hide {
    display: none;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.bg-secondary-base {
    background-color: #D08E0D;
}

.pb-10-desktop {
    padding-bottom: 5rem !important;
}

.pt-10-desktop {
    padding-top: 5rem !important;
}

.bg-image-banner {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-blend-mode: multiply;
    height: 100%;
}

.navbar-na .navbar-nav .nav-link {
    color: #fff;
}

.navbar-na .navbar-brand {
    color: #fff;
}

.navbar-na .navbar-brand:focus, .navbar-na .navbar-brand:hover {
    color: #d08e0d;
}

.navbar-na .navbar-nav .nav-link:focus, .navbar-na .navbar-nav .nav-link:hover {
    text-decoration-line: underline;
    text-decoration-color: #d08e0d;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    color: #fff;
}

.navbar-na .dropdown-item.active, .dropdown-item:active {
    background-color: #008ba9;
}

.navbar-na .navbar-nav .show > .nav-link {
    color: #fff;
}

.navbar-na .dropdown-item:focus, .dropdown-item:hover {
    background-color: #008ba9;
    color: #fff;
}

.dropdown-menu {
    border: 0;
}

.dropdown-menu-custom {
    left: auto;
    right: 0;
    padding: 0;
    min-width: 12rem;
}

.header-dropdown {
    padding: 0.5rem 0;
    border-bottom: 1px solid #e5e7eb;
}

.body-dropdown {
    border-bottom: 1px solid #e5e7eb;
}

.dropdown-item-custom {
    padding: 0.5rem;
}

.image-profile {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.desc-profile h4 {
    font-size: 1rem;
}

.overlay {
    background-color: rgb(31 41 55);
    opacity: 0.6;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.z-index-5 {
    z-index: 5;
}

.z-index-10 {
    z-index: 10;
}

.icon-prev-next {
    background: #000;
    padding: 10px;
    display: inherit;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}
   
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}
   
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}
   
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}

.carousel-program .carousel-caption {
    text-align: left;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: .5s;
}

.carousel-program .carousel-caption:hover {
    padding-top: 20px;
    padding-bottom: 20px;
}

.carousel-program .text-carousel {
    position: relative;
    z-index: 10;
}

.carousel-program .text-carousel {
    margin-left: 20px;
}

.carousel-program > .icon-carousel {
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.carousel-program:hover > .icon-carousel {
    visibility: visible;
    opacity: 1;
}

.text-title-artikel {
    color: #343a40;
}

.text-title-na {
    color: #343a40;
}

.btn-link:hover {
    color: #008ba9;
    text-decoration: none;
}

.img-small-artikel {
    max-width: 150px;
    height: auto;
}

.desc-artikel-naa h1 {
    display: none;
}

.desc-artikel-naa h2 {
    display: none;
}

.desc-artikel-naa h3 {
    display: none;
}

.desc-artikel-naa h4 {
    display: none;
}

.desc-artikel-naa h5 {
    display: none;
}

.desc-artikel-naa h6 {
    display: none;
}

.desc-artikel-naa strong {
    display: none;
}

.nav-list-footer-card-body {
    list-style: none;
}

.img-na {
    margin: 0;
}

.column-artikel {
    display: flex;
    grid-gap: 20px;
}

.title h4 {
    margin-bottom: 0;
}

.card-heading {
    margin-bottom: 0;
}

.pagination-handap .page-link {
    color: #333;
}

.input-group-text-custom {
    background-color: #fff;
}

.list-menu {
    padding: 0;
    margin-left: 1.55rem;
}

.arsip-artikel .nav-pills .nav-link.active, .arsip-artikel .show > .nav-link {
    color: #343a40;
    background-color: transparent;
    border-bottom: 2px solid #008ba9;
    border-radius: 0%;
}

.arsip-artikel .nav-pills .nav-link {
    background-color: transparent;
}

.arsip-artikel .nav-pills .nav-link {
    color: #333;
}

.arsip-artikel .title-desc h6 {
    margin-bottom: 0;
}

.arsip-artikel .list-group-flush .nav-link {
    padding-left: 0;
}

.gap-3 {
    gap: 0.75rem;
}

.komentar .list-comment {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.komentar .list-comment .comment-item {
    font-size: 14px;
}

.apbdes-bawah .title {
    font-weight: 700;
}

.breadcrumb {
    background-color: #fff;
    padding: 0;
}

.column-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header {
    background-color: transparent;
}

.data-desa .btn {
    padding: 0;
}

.list-group-item {
    padding: 0;
}

.card-body {
    padding: 0.75rem 1.25rem;
}

.card .card-header .btn-link:focus {
    text-decoration: none;
    color: #008ba9;
}

.card .card-header .btn-link::after {
    font-family: "FontAwesome";
    content: "\f106";
    font-size: 20px;
}

.card .card-header .btn-link.collapsed::after {
    content: "\f107";
    font-size: 20px;
}

.title-collapse {
    font-weight: 700;
}

.accordion .card {
    border-radius: 0%;
    border-bottom: 0;
}

.card .card-header > .collapse.show {
    border-bottom: 0;
}

.table th  {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.table td {
    padding: 0.5rem;
}

.login-mandiri i {
    vertical-align: middle;
}

.content-text ol {
    margin-bottom: 0;
}

.breadcrumb a {
    color: #008ba9;
}

.apbdes-bawah .card-header {
    background-color: #008BA9 !important;
    color: #fff;
}

.apbdes-bawah .card-header .card-heading {
    font-weight: 700;
}

.content-statistic {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-pills .nav-link.active {
    background-color: #d08e0d;
    color: #fff;
}

.nav-pills .nav-link {
    background-color: #efefef;
    color: #999;
}

.nav-pills-na {
    grid-gap: 10px;
}

.data-desa .card-body-accordion {
    padding: 0;
}

.card .card-header .btn-link:focus {
    text-decoration: none;
    color: #008ba9;
}

.card .card-header .btn-link::after {
    font-family: "FontAwesome";
    content: "\f106";
    font-size: 20px;
}

.card .card-header .btn-link.collapsed::after {
    content: "\f107";
    font-size: 20px;
} 

.table-statistik .table thead th {
    vertical-align: middle;
    text-align: center;
}

ul.nav-accordion li.active {
    background-color: #008BA9;
}

ul.nav-accordion li.active a {
    color: #fff;
    font-weight: bold;
}

.table.table-bordered.dataTable th {
    vertical-align: middle;
    text-align: center;
}

.page-item.active .page-link {
    background-color: #008ba9;
    border-color: #008ba9;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
}

.text-super {
    font-size: 1.25rem;
}

.text-gray-300 {
    color: rgb(209 213 219);
    opacity: 0.3;
}

#scroll-up {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99999;
    cursor: pointer;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    padding: 0 11px;
    background-color: #00BA88;
}

.opacity-1 {
    opacity: 1;
}

.opacity-0 {
    opacity: 0;
}

#scroll-up i {
    font-size: 20px;
    color: #fff;
}

.kolom-komentar {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 1024px) {
    body {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .text-super {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

@media (max-width: 992px) {
    .navbar-na .navbar-inverse {
        border-radius: 0;
        border: none;
        margin-bottom: 0;
        min-height: 80px;
        background-color: #fff;
        margin-top: 0.5rem;
    }

    .navbar-na .navbar-inverse a {
        color: #333 !important;
    }

    .navbar-na {
        background-color: #fff !important;
    }

    .navbar-na .navbar-brand {
        color: #333 !important;
    }

    .dropdown-menu {
        border: none;
        border-radius: 0;
    }

    .dropdown-item {
        border-bottom: 1px solid #e5e7eb;
        font-size: .875rem;
    }

    .pb-10-desktop {
        padding-bottom: 0 !important;
    }

    .pb-5-banner-mobile {
        padding-bottom: 3rem !important;
    }

    .column-footer {
        display: block;
        text-align: center;
    }

    .hak-cipta {
        margin-bottom: 10px;
    }

    .name-logo {
        vertical-align: middle;
    }

    .table thead th {
        vertical-align: middle;
    }

    div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, 
    div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
        text-align: left;
    }

    div.dataTables_wrapper div.dataTables_info {
        margin-bottom: 0.85rem;
    }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: flex-start !important;
    }

    .carousel-program .text-carousel h5 {
        font-size: 14px;
        margin-bottom: 0;
    }

    .content-text img {
        width: 100%;
        max-width: 100%;
    }

    .logo {
        margin-bottom: 10px;
    }
}

@media (max-width: 992px) {
    .column-artikel {
        display: block;
    }

    .column-logo {
        margin-bottom: 10px;
    }
}